# Logging level [info | debug | warning | error | critical]
# By default: info
LOG_LEVEL=info

# Max log file size
# By default: 5242880
LOG_MAX_BYTES=5242880

# Number of rotated log files to keep
# By default: 5
LOG_BACKUP_COUNT=5

# If true, logs will also be printed to console (stdout) [0 | 1]
# By default: 0
LOG_CONSOLE=0